html,
body {
  margin: 0;
  overflow: hidden;
  background-color: #008080;
  overflow: hidden;
}
#scene {
  width: 500px;
  height: 500px;
  margin: auto;
}
#controls {
  text-align: center;
  align-self: center;
}
#axisY  {
  display: grid;
}

.button_slide {
  color: #FFF;
  background-color: #008080;
  border: 2px solid rgb(216, 2, 134);
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  margin: 6px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #D80286;
  -webkit-transition: ease-out 0.6s;
  -moz-transition: ease-out 0.6s;
  transition: ease-out 0.6s;
}

.slide_down:hover {
  box-shadow: inset 0 100px 0 0 #D80286;
}

.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #D80286;
}

.slide_left:hover {
  box-shadow: inset 0 0 0 100px #D80286;
}

.slide_diagonal:hover {
  box-shadow: inset 400px 50px 0 0 #D80286;
}

#outer {
  display: inline-block;
  width: 100%;
  margin: 50px auto 0 auto;
  text-align: center;
}

#info, #counter {
  color: white;
  height: 20px;
  width: 20px;
  font-family: "Lucida Console", Monaco, monospace;
}

#info {
  flex: 1
}

#header {
  display: flex;
}

.swal-footer {
  text-align: center;
}

.swal-modal {
  font-family: "Lucida Console", Monaco, monospace;
}