html,
body {
  margin: 0;
  overflow: hidden;
  background-color: #eeeeee;
}
#scene {
  width: 600px;
  height: 600px;
  margin: auto;
}
#controls {
  height: 500px;
  float: left;
}
#axisY  {
  /* display: grid; */
}